.App {
  text-align: center;
  height: 100vh;
  background-color: darkslategrey;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

#drum-machine {
  border: 2px solid lightsteelblue;
  border-radius: 5px;
  background-color: cadetblue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  width: 600px;
  margin: 0 auto;
}

#display {
  height: 20px;
  background-color: blanchedalmond;
  color: darkslategray;
  width: 50%;
  height: 30px;
  margin: 10px auto;
  line-height: 30px;
}

.drum-pad-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #drum-machine {
    width: 90%;
  }
}